

<app-tab-group (tabClosed)="locationService.removeLocation($event)">
    <app-tab-item *ngFor="let conditions of currentConditionsByZip()"
                  [id]="conditions.zip"
                  [title]="conditions.data.name + ' (' + conditions.zip + ')'">
        <div class="well flex">
            <div>
                <h3>{{conditions.data.name}} ({{conditions.zip}})</h3>
                <h4>Current conditions: {{conditions.data.weather[0].main}}</h4>
                <h4>Temperatures today:</h4>
                <p>
                    Current {{conditions.data.main.temp | number:'.0-0'}}
                    - Max {{conditions.data.main.temp_max | number:'.0-0'}}
                    - Min {{conditions.data.main.temp_min | number:'.0-0'}}
                </p>
                <p>
                    <a [routerLink]="['/forecast', conditions.zip]">Show 5-day forecast for {{conditions.data.name}}</a>
                </p>
            </div>
            <div>
                <img [src]="weatherService.getWeatherIcon(conditions.data.weather[0].id)">
            </div>
        </div>
    </app-tab-item>
</app-tab-group>
